extends layout

block content
    .container
        h2= title
        form.form(action="/account" method="POST" enctype="application/x-www-form-urlencoded")
            .mb-3
                label(for="name" class="form-label") Name
                input.form-control(type="text" name="name" value=user.name)
            .mb-3
                label(for="email" class="form-label") Email Address
                input.form-control(type="email" name="email" value=user.email)
            button.btn.btn-primary(type="submit") Update
