//- this pug file extends “layout.pug”
extends layout

//-In the “layout.pug” there is an element named "block content". 
//-Whatever we indented here, will appear in that part of the layout
block content
    p Extending a layout
