doctype html
html
    head
        meta(name="viewport", content="width=device-width")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    body
        h2 Password Reset
        p Hello. You have requested a password reset. Please click the following button to continue with resetting your password. Please note this link is only valid for the next hour.

        a(href=resetURL target="_blank")= resetURL

        p If you can't click the above link, type it in your browser.

        p If you didn't request this email, please ignore it.
