extends layout

block content
    .container
        h2= title
        form.form(method="POST" enctype="application/x-www-form-urlencoded")
            .mb-3
                label(for="password" class="form-label") Password
                input.form-control(type="password" name="password")
                
                label(for="password-confirm" class="form-label") Confirm Password
                input.form-control(type="password" name="password-confirm")
                
            button(type="submit" class="btn btn-primary") Reset Password
