extends layout

block content 
    .container 
        .no-gutters.row.pt-3.col-lg-12
            .card
                .card-body
                    h5 Location
                    #map(style="height: 400px;")

block scripts
  script(src="/dist/leaflet.js")
  script(src="/modules/leaflet.markercluster/dist/leaflet.markercluster.js")

  if storesData
      script.
        var stores = !{JSON.stringify(storesData)}; 

        var customIcon = L.icon({
            iconUrl: '/dist/images/marker-icon.png',  
            iconSize: [30, 30], 
            iconAnchor: [12, 41], 
            popupAnchor: [3, -35], 
            shadowSize: [41, 41] 
        });

        document.addEventListener('DOMContentLoaded', function () {
            const map = L.map('map').setView([0, 0], 2);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            const storeCluster = L.markerClusterGroup();
            
            for (const storeName in stores) {
                const storeData = stores[storeName];
                const averageRating = storeData[0];
                const coordinates = storeData[1];
                console.log('Marcador:', storeName, coordinates, averageRating);
                
                if (coordinates) {
                    const latitude = coordinates.lat;
                    const longitude = coordinates.lng;

                    if (typeof latitude === 'number' && typeof longitude === 'number') {
                        console.log('Creando marcador:', storeName, latitude, longitude, averageRating);
                        const marker = L.marker([latitude, longitude], {icon: customIcon})
                            .bindPopup('<strong>' + storeName + '</strong><br>Rating: ' + averageRating + ' / 5');
                        
                        storeCluster.addLayer(marker);
                    }
                }
            }

            // Agregar el grupo de marcadores al mapa
            map.addLayer(storeCluster);
        });
